.conteneurlogin {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100vh; /* Utiliser toute la hauteur de la fenêtre */
  background-image: url('../images/rectorat.jpg');
  background-size: cover;
  background-position: center;
  }
  
  .login {
    width: 600px;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   margin-top: 50px;
   height: 500px;
  }

#rectorat {

  border-radius: 25px; 
  margin-left: 30%;
  height:35%;
 
}

.field {
  display: inline-block;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 15% ;
  width:80%;
  height: 50%;
  margin-left: 15px;

}
  

  .login hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  

  .input-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input
  {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
  }
  
 .btn{
    width:80%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
.btn:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
  }
  